a{
	color:#00468C
}
a:hover{
	color:#54657e
}
footer a{
	color:#ffffff;
}
.overlay:before,
.overlay:after,
.bg-gray .featured-package,
.featured-package,
.gredient-overlay,
.primary-btn,
.cd-btn,
.scrollup,
.media:hover .media-icon,
.shot-footer span {
	background: #38C695;
}
.overlay:before,
.overlay:after,
.bg-gray .featured-package,
.featured-package,
.gredient-overlay{
    background: -webkit-linear-gradient(to left, #38C695, #004e92);
    background: -webkit-linear-gradient(right, #38C695, #004e92);
    background: linear-gradient(to left, #38C695, #004e92);
}
.featured-package .primary-btn,
.section-title h2 span,
.media-icon i{
	color: #38C695
}
.input-box:focus,
.textarea-box:focus  {
	border: 1px solid #38C695;
}
.lines,
.lines:before,
.lines:after {
    border-top: 2px solid #38C695;
}
.scrollup:hover,
.media-icon{
	border:1px dashed #38C695;
}
.primary-btn:hover, .primary-btn:focus{
	opacity:0.8;
	background:#38C695;
}